<img src="https://raw.githubusercontent.com/nadialguno/Woof_Pal/f929a9e037d66b355bcd91a71cbdf183fdbe398f/app/assets/images/logo.svg" alt="logo" id="logo" class="d-none d-xl-block">
<!-- fallback for showing logo -->
<img src="https://raw.githubusercontent.com/nadialguno/Woof_Pal/f929a9e037d66b355bcd91a71cbdf183fdbe398f/app/assets/images/logo.svg" alt="logo" class="d-block d-xl-none" width=200>

<div class="container">
  <div class="row py-5 justify-content-center">
    <div class="col-md-8 col-lg-4">
      <div class="p-3 bg-light">
        <h1 class="mb-3">About my pal</h1>
        <%= simple_form_for @dog do |f| %>
          <div class="text-center" data-controller="file-display">
            <%= f.label :photo do %>
              <%= image_tag "photo-camera.png", data: { file_display_target: "preview" }, style: "object-fit: cover; height: 200px; width: 200px", class: 'border img-fluid rounded-circle' %>
            <% end %>
            <%= f.input :photo, as: :file, label: false, input_html: { class: "d-none", data: { action: "change->file-display#previewFile", file_display_target: "input" } } %>
          </div>
          <%= f.input :name %>
          <%= f.input :born_on, html5: true %>
          <%= f.button :submit, "See schedule", class: "btn btn-primary w-100 rounded-2" %>
        <% end %>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-3 form_image">
      <lottie-player src="https://assets8.lottiefiles.com/temporary_files/BCOFAS.json"  background="transparent"  speed="1"  style="width: 400px; height: 500px;"  loop  autoplay></lottie-player>
    </div>
  </div>
</div>
