
<div class="container">
  <div class="row py-5 justify-content-center">
    <div class="col-lg-4">
      <div class="bg-white p-3">
        <h1>About my pal</h1>
        <%= simple_form_for @dog do |f| %>
          <div data-controller="file-display">
            <img data-file-display-target="preview" style="height: 200px; width: 200px">
            <%= f.input :photo, as: :file, input_html: { data: { action: "change->file-display#previewFile", file_display_target: "input" } } %>
          </div>
          <%= f.input :name %>
          <%= f.input :born_on, html5: true %>
          <%= f.button :submit, "See schedule", class: "btn btn-primary w-100 rounded-2" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 form_image">
      <lottie-player src="https://assets8.lottiefiles.com/temporary_files/BCOFAS.json"  background="transparent"  speed="1"  style="width: 300px; height: 400px;"  loop  autoplay></lottie-player>
    </div>
  </div>
</div>
