


<div class="container py-5 animate__animated animate__lightSpeedInLeft">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <div class="sticky-top">
        <%= render "schedules/dog", schedule: @schedule %>
      </div>
    </div>
    <div class="col-7 px-5">
      <h2>This Week...</h2>
      <div class="list-group">
        <% if @schedule.next_appointments.this_week.any? %>
          <% @schedule.next_appointments.this_week.each do |appointment| %>
            <%= render "schedules/appointment", appointment: appointment %>
          <% end %>
        <% else %>
          <p class="text-muted mb-0">Nothing here...</p>
        <% end %>
      </div>

      <h2 class="h4 mt-3">This Month...</h2>
      <div class="list-group">
        <% if @schedule.next_appointments.this_month.any? %>
          <% @schedule.next_appointments.this_month.each do |appointment| %>
            <%= render "schedules/next_month_appointment", appointment: appointment %>
          <% end %>
        <% else %>
          <p class="text-muted mb-0">Nothing here...</p>
        <% end %>
      </div>

      <% if @schedule.next_appointments.after(Date.current.next_month).any? %>
        <h2 class="h6 mt-3">Following months...</h2>
        <div class="list-group">
          <% @schedule.next_appointments.after(Date.current.next_month).where("scheduled_on < ?", Date.current.next_year).each do |appointment| %>
            <%= render "schedules/following_months_appointment", appointment: appointment %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="exampleModalCenter1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vets near me</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe
          width="450"
          height="250"
          frameborder="0" style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/search?key=<%= ENV["GOOGLE_API_KEY"] %>&q=Veterinaria near Condesa in CDMX"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="exampleModalCenter2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Groomers near me</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe
          width="450"
          height="250"
          frameborder="0" style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/search?key=<%= ENV["GOOGLE_API_KEY"] %>&q=estetica canina near Condesa in CDMX"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<%= render "schedules/calendar" %>
<div class="modal" tabindex="-1" id="exampleModalCenter3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sync Calendar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <%= link_to "https://calendar.google.com/calendar/render?cid=#{webcal_dog_schedule_url(@schedule.dog)}", target: :blank, "data-controller": "webcal-sync", class:"btn btn-primary" do%>
            <i class="far fa-calendar-alt"></i>
            Sync to Google Calendar
          <% end %>
        </div>
        <div class="mt-3">
          <%= link_to download_dog_schedule_path(@schedule.dog), class: "btn btn-primary" do%>
            <i class="far fa-calendar-alt"></i>
            Download Calendar
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
