
<div class="container py-5">
  <div class="row justify-content-center mb-2">
    <div class="col-10">
      <h1 class="text-center"><%= @schedule.dog.name %>'s Schedule</h1>
      <div class="text-end">
        <%= link_to "Vets near me", services_path(type: "veterinaria"), class: "btn btn-sm btn-outline-secondary me-2" %>
        <%= link_to "Groomers near me", services_path(type: "estetica canina"), class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <div class="sticky-top">
        <%= render "schedules/dog", schedule: @schedule %>
      </div>
    </div>
    <div class="col-7">
      <h2>This Week...</h2>
      <div class="list-group">
        <% if @schedule.next_appointments.this_week.any? %>
          <% @schedule.next_appointments.this_week.each do |appointment| %>
            <%= render "schedules/appointment", appointment: appointment %>
          <% end %>
        <% else %>
          <p class="text-muted mb-0">Nothing here...</p>
        <% end %>
      </div>

      <h2 class="h4 mt-3">This Month...</h2>
      <div class="list-group">
        <% if @schedule.next_appointments.this_month.any? %>
          <% @schedule.next_appointments.this_month.each do |appointment| %>
            <%= render "schedules/next_month_appointment", appointment: appointment %>
          <% end %>
        <% else %>
          <p class="text-muted mb-0">Nothing here...</p>
        <% end %>
      </div>

      <% if @schedule.next_appointments.after(Date.current.next_month).any? %>
        <h2 class="h6 mt-3">Following months...</h2>
        <div class="list-group">
          <% @schedule.next_appointments.after(Date.current.next_month).each do |appointment| %>
            <%= render "schedules/following_months_appointment", appointment: appointment %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
