
<div class="container py-5">
  <div class="row justify-content-center mb-2">
    <div class="col-10">
      <h1 class="text-center"><%= @schedule.dog.name %>'s Schedule</h1>
      <div class="text-end">
        <%= link_to "Vets near me", services_path(type: "veterinaria"), class: "btn btn-sm btn-outline-secondary me-2" %>
        <%= link_to "Groomers near me", services_path(type: "estetica canina"), class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <div class="sticky-top">
        <%= render "schedules/dog", schedule: @schedule %>
      </div>
    </div>
    <div class="col-7">
      <div class="list-group">
        <% @schedule.next_appointments.each do |appointment| %>
          <%= render "schedules/appointment", appointment: appointment %>
        <% end %>
      </div>
    </div>

  </div>
</div>
