
<div class=justify-content-center> <h1> Here is <%= @schedule.dog.name.capitalize%>'s Schedule!</h1></div>

<div class=justify-content-center>
  <div class="row">
    <div class="col-3 px-5  py-5">
      <%= cl_image_tag @schedule.dog.photo.key, class: 'rounded-circle', height: 200, width: 200, crop: :fill %>
    </div>
    <div class="col-8">
      <div class="list-group">
        <% @schedule.next_appointments.each do |appointment| %>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2 border-top">
            <div class="d-flex w-100 justify-content-between">
              <div class="d-flex">
                <p>
                  <span class="h6">
                    <%= appointment.scheduled_on.strftime("%b") %>
                  </span>
                  <br>
                  <span class="h2">
                    <%= appointment.scheduled_on.strftime("%d") %>
                  </span>
                </p>
                <h5 class="mb-1"><%= appointment.title %></h5>
              </div>
              <small>in <%= distance_of_time_in_words_to_now(appointment.scheduled_on) %></small>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
