<h1>Welcome to Woof Pal!</h1>
<%=link_to "Add dog info here", new_dog_path %>
<%=link_to "Add dog info here", new_dog_path, class: "btn btn-primary" %>
<%=link_to "Secondary", new_dog_path, class: "btn btn-secondary" %>
<%=link_to "Danger", new_dog_path, class: "btn btn-danger" %>
<%=link_to "Warning", new_dog_path, class: "btn btn-warning" %>
<%=link_to "Info  ", new_dog_path, class: "btn btn-info" %>
