<h1>Welcome to Woof Pal!</h1>
<h2>Welcome to Woof Pal!</h2>
<h3>Welcome to Woof Pal!</h3>
<h4>Welcome to Woof Pal!</h4>
<h5>Welcome to Woof Pal!</h5>
<h6>Welcome to Woof Pal!</h6>
<hr>
<%=link_to "Add dog info here", new_dog_path %>
<%=link_to "Secondary", new_dog_path, class: "text-secondary" %>
<%=link_to "Danger", new_dog_path, class: "text-danger" %>
<%=link_to "Warning", new_dog_path, class: "text-warning" %>
<%=link_to "Info  ", new_dog_path, class: "text-info" %>
<hr>
<%=link_to "Add dog info here", new_dog_path, class: "btn btn-primary" %>
<%=link_to "Secondary", new_dog_path, class: "btn btn-secondary" %>
<%=link_to "Danger", new_dog_path, class: "btn btn-danger" %>
<%=link_to "Warning", new_dog_path, class: "btn btn-warning" %>
<%=link_to "Info  ", new_dog_path, class: "btn btn-info" %>
<hr>
<%=link_to "Add dog info here", new_dog_path, class: "btn btn-outline-primary bg-white" %>
<%=link_to "Secondary", new_dog_path, class: "btn btn-outline-secondary bg-white" %>
<%=link_to "Danger", new_dog_path, class: "btn btn-outline-danger bg-white" %>
<%=link_to "Warning", new_dog_path, class: "btn btn-outline-warning bg-white" %>
<%=link_to "Info  ", new_dog_path, class: "btn btn-outline-info bg-white" %>
